body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #000000;
  color: #ffffff;
}
.container {
  max-width: 600px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1 {
  text-align: center;
}
.stat {
  margin-bottom: 10px;
}
.stat span {
  font-weight: bold;
  margin-left: 5px;
}

/* Styles for the container */
.stats-container {
  width: 1000px;
  height: 162px;
  overflow: auto;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  background-color: #000000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.stats-container::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
